@* For more information *@

<h3 class="text-center display-5">
    Podcast deleted
</h3>

<br />

<div class="row">
    <p class="text-center">
        Podcast has been deleted from the <b>Dime Pub</b> application
    </p>
</div>
