@* For more information *@

@model PodcastAdd

<h3 class="text-center display-5">
    Podcast <b>has NOT been</b> added
</h3>

<br />

<div class="row">
    <p class="text-center">
        New podcast <b>could not be adeed</b>.<br />
        Please check that provided source: "@Model.SourceUri" is correct or try to come back to the <b>Dime Pub</b> application later.
    </p>
</div>
